.nav-logo {
  width: 80px;
  height: auto;
}

.rounded-xl {
  border-radius: 8px !important;  /* Change from 8px */
}

.rounded-xt {
  border-radius: 8px !important;  /* Change from 8px */
}

.rounded-2xl {
  border-radius: 8px !important;  /* Change from 10px */
}